---
import { getCollection, render } from "astro:content";

import PostMeta from "@/components/Posts/PostMeta.astro";
import Page from "@/layouts/Page.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blogPosts");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const pageTitle = ` ${post.data.title} | Aidan Buie`;
---

<style is:global>
  @reference "@/styles/global.css";

  #post {
    p {
      @apply my-5;
    }
  }
</style>

<Page pageTitle={pageTitle}>
  <article>
    <PostMeta frontmatter={post.data} />

    <div id="post">
      <Content />
    </div>
  </article>
</Page>
