@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-gaya: var(--font-gaya);
  --font-sans: var(--font-encode-sans);

  /* Text */
  --color-primary: #282828;
  /* Same as text w/ opacity */
  --color-secondary: oklch(0.2768 0 0 / 20%);
  /* Very different accent */
  --color-accent: #cc241d;

  --color-gruv-black: #282828;
  --color-gruv-red: #cc241d;
  --color-gruv-green: #98971a;
  --color-gruv-yellow: #d79921;
  --color-gruv-blue: #458588;
  --color-gruv-purple: #b16286;
  --color-gruv-aqua: #689d6a;
  --color-gruv-orange: #d65d0e;

  --color-gruv-red-b: #fb4934;
  --color-gruv-green-b: #b8bb26;
  --color-gruv-yellow-b: #fabd24;
  --color-gruv-blue-b: #83a598;
  --color-gruv-purple-b: #d3869b;
  --color-gruv-aqua-b: #8ec07c;
  --color-gruv-orange-b: #fe8019;

  --color-bg: #fffdf5;
  --color-bg-secondary: #a89984;
  --color-bg-accent: #ebdbb2;
  --color-bg-code: #32302f;
}

@layer theme {
  .dark {

    --color-primary: #fffdf5;
    /* Same setup as light mode */
    --color-secondary: oklch(0.9934 0.0107 95.16 / 20%);
    /* --color-accent: same as light */

    --color-bg: #282828;
    --color-bg-secondary: #7c6f64;
    --color-bg-accent: #3c3836;
  }
}

@layer base {
  body {
    @apply font-sans text-primary bg-bg selection:bg-accent/40
  }

  a {
    @apply underline underline-offset-3 decoration-secondary duration-200 hover:transition-all ease-in decoration-2 hover:decoration-accent hover:underline-offset-5 hover:text-accent;
  }

  a.external::after {
    content: url('../assets/icons/externalLink.svg');
    display: inline-block;
    background-size: 0 0;
    /* width: 12px; */
    /* height: 12px; */
    vertical-align: middle;
  }
}
