@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";
@config "./tailwind.config.cjs";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: Alice;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Alice.woff2") format("woff2");
}

@theme {
  --color-primary: #282828;
  --color-secondary: #7c6f64;
  --color-accent: #3c3836;

  --color-gruv-red: #cc241d;
  --color-gruv-green: #98971a;
  --color-gruv-yellow: #d79921;
  --color-gruv-blue: #458588;
  --color-gruv-purple: #b16286;
  --color-gruv-aqua: #689d6a;
  --color-gruv-orange: #d65d0e;

  --color-bg: #f9f5d7;
  --color-bg-accent: #ebdbb2;
}

@layer theme {
  .dark {
    --color-primary: #fbf1c7;
    --color-secondary: #a89984;
    --color-accent: #ebdbb2;

    --color-bg: #1d2021;
    --color-bg-accent: #3c3836;
  }
}

@layer base {
  html {
    font-family: Alice;
  }
  a {
    @apply decoration-gruv-aqua decoration-2 hover:underline;
  }
}

@utility prose-main {
  --tw-prose-body: var(--color-primary);
  --tw-prose-headings: var(--color-primary);
  --tw-prose-lead: var(--color-secondary);
  --tw-prose-links: var(--color-primary);
  --tw-prose-bold: var(--color-primary);
  --tw-prose-counters: var(--color-gruv-purple);
  --tw-prose-bullets: var(--color-gruv-purple);
  --tw-prose-hr: var(--color-bg-accent);
  --tw-prose-quotes: var(--color-secondary);
  --tw-prose-quote-borders: var(--color-gruv-purple);
  --tw-prose-captions: var(--color-accent);
  --tw-prose-kbd: var(--color-gruv-red);
  --tw-prose-code: var(--color-gruv-red);
  --tw-prose-pre-code: var(--color-accent);
  --tw-prose-pre-bg: var(--color-bg-accent);
  --tw-prose-th-borders: var(--color-red);
  --tw-prose-td-borders: var(--color-blue);
}
