---
import { getCollection } from "astro:content";

import { getTags } from "../utils/posts";

import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const rawPosts = await getCollection("blogPosts");
  const tags = getTags(rawPosts);

  return tags.map((tag) => {
    const filteredPosts = rawPosts.filter((post) =>
      post.data.tags.includes(tag),
    );

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { posts } = Astro.props;
const { tag } = Astro.params;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/posts/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
