---
import { getCollection } from "astro:content";

import { getTags } from "../utils/posts";

import BaseLayout from "../../layouts/BaseLayout.astro";

const rawPosts = await getCollection("blogPosts");
const tags = getTags(rawPosts);
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <div>{tags.map((tag) => <p>{tag}</p>)}</div>
</BaseLayout>
