---
import { getCollection } from "astro:content";

import { getTags } from "../utils/posts";

import Page from "@/layouts/Page.astro";

const rawPosts = await getCollection("blogPosts");
const tags = getTags(rawPosts);
---

<Page pageTitle="Tag Archive | Aidan Buie" bannerTitle="Tag Archive">
  <div>{tags.map((tag) => <p>{tag}</p>)}</div>
</Page>
