---
import { getCollection } from "astro:content";

import { getTags } from "@/utils/posts";

import Page from "@/layouts/Page.astro";

const rawPosts = await getCollection("blogPosts");
const tags = getTags(rawPosts);

const pageTitle = "Tag Archive | Aidan Buie";
---

<Page pageTitle={pageTitle}>
  <span class="mb-10 flex h-4 grow items-center gap-x-2">
    <hr class="text-accent grow" />
    <h1 class="flex items-center gap-x-1 text-2xl font-bold">
      <i class="fa-solid fa-tags text-gruv-yellow text-base"></i>Tag Archive
    </h1>
    <hr class="text-accent grow" />
  </span>
  <ul class="text-xl">
    {
      tags.sort().map((tag) => (
        <li class="my-2">
          <a href={`/tags/${tag}`}>
            <i class="fa-solid fa-tag text-gruv-yellow text-sm" />
            {tag}
          </a>
        </li>
      ))
    }
  </ul>
</Page>
