---
import Page from "@/layouts/Page.astro";

const pageTitle = "About | Aidan Buie";
---

<Page pageTitle={pageTitle}>
  <div class="flex flex-col gap-y-5 text-lg">
    <p>
      I am a PhD student in the Earth and Planetary Sciences department at the
      University of New Mexico. I have a background in geology, environmental
      science (concentrated in ecology), and GIS.
    </p>
    <p>
      I do small-scale (big picture) mapping of planetary surfaces but mostly of
      Mars and Earth. GIS and software tools are somewhat lacking in this field,
      so I am working to bridge the gap between software engineers, scientists,
      and GIS folk.
    </p>
    <p>
      Non-professionally, I also enjoy taking photos. Once upon a time I drew
      and made art. Nowadays, that part of my brain has instead been put to work
      when I make maps or figures. I am by no means a designer and am always
      looking to improve!
    </p>
    <p>
      Take a look at my <a>CV</a> for more detailed information about some of my
      past experiences!
    </p>
  </div>
</Page>
