---
import { getCollection } from "astro:content";

import Page from "@/layouts/Page.astro";

import { arrangePostCollection } from "./utils/posts";

const rawPosts = await getCollection("blogPosts");
const postsArray = arrangePostCollection(rawPosts);
---

<Page pageTitle="Blog | acbuie" bannerTitle="Musings">
  <ul>
    {
      postsArray.map((d) => (
        <>
          <h2 class="text-4xl my-5">{d.year}</h2>
          <ul class="text-xl grid grid-cols-[auto_8rem] gap-y-3">
            {d.posts.map((p) => (
              <>
                <li>
                  <a href={`/posts/${p.id}`}>{p.data.title}</a>
                </li>
                <span class="text-right self-end">
                  {p.data.pubDate.toLocaleDateString("default", {
                    month: "short",
                    day: "numeric",
                  })}
                </span>
              </>
            ))}
          </ul>
        </>
      ))
    }
  </ul>
</Page>
