---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "Aidan Buie";
---

<BaseLayout pageTitle={pageTitle}>
  <div id="hero" class="flex items-center justify-center">
    <div>
      <h1 class="text-6xl md:text-9xl">aidan buie</h1>
      <ul class="text-right text-lg md:text-xl">
        <li><h2>phd student</h2></li>
        <li><h2>planetary scientist</h2></li>
        <li><h2>artist</h2></li>
        <li><h2>educator</h2></li>
      </ul>
    </div>
  </div>
</BaseLayout>
