---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "Aidan Buie";
---

<BaseLayout pageTitle={pageTitle}>
  <div id="hero" class="flex grow items-center justify-center font-bold">
    <div>
      <h1 class="text-6xl md:text-9xl">aidan buie</h1>
      <ul class="text-right text-lg md:text-xl">
        <li><h2 class="">phd student</h2></li>
        <li><h2 class="">planetary scientist</h2></li>
        <li><h2 class="">artist</h2></li>
        <li><h2 class="">educator</h2></li>
      </ul>
    </div>
  </div>
</BaseLayout>
