---
import { Icon } from "astro-icon/components";
---

<span class="mt-20 flex grow items-center justify-center">
  <Icon name="construction" class="size-10" />
  <p class="mx-2 text-lg md:mx-10 md:text-2xl">Page under construction</p>
  <Icon name="construction" class="size-10" />
</span>
