<span class="flex grow mt-20 justify-center items-center">
  <i class="fa-solid fa-person-digging fa-xl"></i>
  <p class="text-lg md:text-2xl mx-2 md:mx-10">Page under construction</p>
  <i class="fa-solid fa-person-digging fa-xl"></i>
</span>
