<span class="mt-20 flex grow items-center justify-center">
  <i class="fa-solid fa-person-digging fa-xl"></i>
  <p class="mx-2 text-lg md:mx-10 md:text-2xl">Page under construction</p>
  <i class="fa-solid fa-person-digging fa-xl"></i>
</span>
