---
import { Icon } from "astro-icon/components";
---

<footer class="absolute bottom-0 z-1 mb-5 flex h-20 w-screen justify-center">
  <div class="flex flex-col gap-y-2.5 text-center">
    <ul class="flex flex-row items-center gap-x-10 text-sm md:text-base">
      <li>
        <a
          href="https://github.com/acbuie"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="flex items-center gap-x-1">
            <Icon name="logo/github" class="size-5" />GitHub
          </div>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/aidanbuie/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="flex items-center gap-x-1">
            <Icon name="logo/linkedin" class="size-5" />LinkedIn
          </div>
        </a>
      </li>
      <li>
        <a>
          <div class="flex items-center gap-x-1">
            <Icon name="logo/cv" class="size-5" />CV
          </div>
        </a>
      </li>
    </ul>
    <p class="text-xs md:text-sm">
      © 2025-{new Date().getFullYear()} Aidan Buie
    </p>
  </div>
</footer>
