---
import ThemeToggle from "@/components/Theme/ThemeToggle.astro";

const basePath = Astro.url.pathname.split("/").filter((c) => c)[0];
---

<ul id="nav-links" class="flex gap-x-4 md:gap-x-10">
  <li>
    <a
      class="aria-[current=page]:underline"
      href="/blog/"
      aria-current={basePath === "blog" || basePath === "posts"
        ? "page"
        : "false"}
    >
      Musings
    </a>
  </li>
  <li>
    <a
      class="aria-[current=page]:underline"
      href="/portfolio/"
      aria-current={basePath === "portfolio" ? "page" : "false"}
    >
      Portfolio
    </a>
  </li>
  <li>
    <a
      class="aria-[current=page]:underline"
      href="/about/"
      aria-current={basePath === "about" ? "page" : "false"}
    >
      About
    </a>
  </li>
  <li class="flex items-center justify-center">
    <ThemeToggle />
  </li>
</ul>
