---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header/Header.astro";
import BaseHead from "@/layouts/BaseHead.astro";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en" class="relative min-h-[100%]">
  <head>
    <BaseHead pageTitle={pageTitle} />
  </head>
  <body
    class="text-primary bg-bg selection:bg-gruv-aqua selection:text-primary flex min-h-screen w-screen flex-col overflow-x-hidden subpixel-antialiased"
  >
    <Header />
    <main
      class="mb-40 grow px-5 has-[div#hero]:flex has-[div#hero]:justify-center md:px-10 lg:px-25 xl:px-50"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
