---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header/Header.astro";
import BaseHead from "@/layouts/BaseHead.astro";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en" class="relative min-h-[100%]">
  <head>
    <BaseHead pageTitle={pageTitle} />
  </head>
  <body
    class="text-primary bg-bg selection:bg-gruv-aqua selection:text-primary flex min-h-screen w-screen flex-col overflow-x-hidden subpixel-antialiased"
  >
    <Header />
    <main class="mb-40 flex grow justify-center px-5">
      <div class="w-175 has-[div#hero]:flex">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
