---
import BannerTitle from "@/components/Header/BannerTitle.astro";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  pageTitle: string;
  bannerTitle?: string;
}

const { pageTitle, bannerTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex-none">
    {bannerTitle && <BannerTitle bannerTitle={bannerTitle} />}
    <slot />
  </div>
</BaseLayout>
