---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  pageTitle: string;
  bannerTitle?: string;
}

const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex-none">
    <slot />
  </div>
</BaseLayout>
