---
import PostMeta from "@/components/Posts/PostMeta.astro";
import Page from "./Page.astro";

interface Props {
  frontmatter: {
    title: string;
    description: string;
    pubDate: Date;
    updateDate?: Date;
    tags: string[];
  };
}

const { frontmatter } = Astro.props;

const pageTitle = `${frontmatter.title} | Aidan Buie`;
---

<Page pageTitle={pageTitle}>
  <article class="max-w-175">
    <h1 class="mb-5 text-4xl text-balance md:text-6xl">{frontmatter.title}</h1>

    <PostMeta frontmatter={frontmatter} />

    <div class="prose prose-main md:prose-lg">
      <slot />
    </div>
  </article>
</Page>
