---
import Page from "@/layouts/Page.astro";

const pageTitle = "Portfolio | Aidan Buie";
---

<Page pageTitle={pageTitle} bannerTitle="Portfolio">
  <ul class="text-2xl">
    <li><a href="./cartography/">Cartography</a></li>
    <li><a href="./courses/">Courses</a></li>
    <li><a href="./photography/">Photography</a></li>
    <li><a href="./projects/">Projects</a></li>
  </ul>
</Page>
